<div id="main">
  <div class="header">
    <h1>Adaptation Rules</h1>
  </div>

  <div *ngIf="groups" class="content">
    <div class="pure-g">
      <div class="pure-u-23-24 rule" *ngFor="let group of groups; let g = index" @delete>
        <h3 class="trigger-action" style="margin-bottom: 0;">Trigger - {{group.entity}}</h3>

        <div class="attribute-group" *ngFor="let attribute of group.attributes; let a = index">
          <p><span style="font-weight: bold;">Attribute</span> {{attribute.name}}</p>
          <div class="rule-group" *ngFor="let rule of attribute.rules; let last = last; let r = index">
            <p><span class="property">Value:</span> {{rule.triggerFields[0].value}}{{rule.triggerFields[0].unit ?
			  rule.triggerFields[0].unit : ''}}</p>
			  <p><span class="property">Action:</span> Set {{rule.action.entity}}'s {{rule.action.attribute.name}} to {{rule.action.attribute.fields[0].value}}</p>
			  <button (click)="deleteRule(g, a, r)" class="pure-button pure-button-primary button-error center"><i class="fas fa-trash-alt"
				  style="padding-right: 10px;"></i> Delete Rule</button>
            <hr *ngIf="!last" class="style1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
