.rule {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.rule-content {
    line-height: 0.5;
}

.trigger-action {
    font-size: 19px;

}

.center {
    margin: 50px auto 25px auto;
    display: flex;
}

.property {
    font-weight: 600;
    margin-left: 15px;
}