<div id="main">
  <div class="header">
    <h1>Adaptation Rules</h1>
  </div>

  <div *ngIf="rules" class="content">
    <div class="pure-g">
      <div class="pure-u-1-4 rule" *ngFor="let rule of rules">
        <div>
          <h4>Trigger</h4>
          <h5>Entity: {{rule.trigger.entity}}</h5>
          <h5>Operator: {{rule.trigger.operator}}</h5>
          <h5>Value: {{rule.trigger.value}}</h5>

          <h4>Action</h4>
          <h5>Entity: {{rule.action.entity}}</h5>
          <h5>Attribute: {{rule.action.attribute}}</h5>
          <h5>Value: {{rule.action.value}}</h5>
          <h5>Created: {{rule.createDate | date: 'd MMM yyyy, HH:mm'}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
