<div id="main">
  <div class="header">
    <h1>Adaptation Rules</h1>
  </div>

  <div *ngIf="rules" class="content">
    <div class="pure-g">
      <div class="pure-u-1-4" *ngFor="let rule of rules">
          <h4>Trigger</h4>
          <p>Entity: {{rule.trigger.entity}}</p>
          <p>Operator: {{rule.trigger.operator}}</p>
          <p>Value: {{rule.trigger.value}}</p>

          <h4>Action</h4>
          <p>Entity: {{rule.action.entity}}</p>
          <p>Attribute: {{rule.action.attribute}}</p>
          <p>Value: {{rule.action.value}}</p>
          <p>Created: {{rule.createDate | date: 'd MMM yyyy, HH:mm'}}</p>
      </div>
    </div>
  </div>
</div>
