<div id="main">
  <div class="header">
    <h1>Initial Settings</h1>
  </div>

  <div class="content">

    <form class="pure-form pure-form-aligned" #ruleform="ngForm">
      <h2 class="content-subhead">Map Settings</h2>
      <fieldset>
        <legend>Zoom</legend>
        <div class="pure-control-group">
          <label for="min-zoom">Minimum Zoom</label>
          <input [(ngModel)]="settings.min_zoom" id="min-zoom" type="number" step="0.01" placeholder="5.0" name="min-zoom" required>
        </div>

        <div class="pure-control-group">
          <label for="max-zoom">Maximum Zoom</label>
          <input [(ngModel)]="settings.max_zoom" id="max-zoom" type="number" step="0.01" placeholder="20.0" name="max-zoom" required>
        </div>

        <div class="pure-control-group">
          <label for="init-zoom">Initial Zoom</label>
          <input [(ngModel)]="settings.init_zoom" id="init-zoom" type="number" step="0.01" placeholder="20.0" [max]="settings.max_zoom"
            [min]="settings.min_zoom" name="init-zoom" required>
        </div>
      </fieldset>

      <fieldset>
        <legend>Look</legend>
        <div class="pure-control-group">
          <label for="init-theme">Initial Theme</label>
          <select [(ngModel)]="settings.init_theme" id="init-theme" name="init-theme" required>
            <option value="Dark">Dark</option>
            <option value="Light">Light</option>
          </select>
        </div>
      </fieldset>
      <fieldset *ngIf="settings && settings.init_center">
        <legend>Center</legend>
        <div class="pure-control-group">
          <label for="init-center-lat">Latitude</label>
          <input [(ngModel)]="settings.init_center.latitude" id="init-center-lat" type="number" step="0.00001" placeholder="20.0"
            name="init-center-lat" min="-90" max="90" required>
        </div>

        <div class="pure-control-group">
          <label for="init-center-lon">Longitude</label>
          <input [(ngModel)]="settings.init_center.longitude" id="init-center-lon" type="number" step="0.00001"
            placeholder="20.0" name="init-center-lon" min="-180" max="180" required>
        </div>
      </fieldset>


      <h2 class="content-subhead">App Settings</h2>
      <fieldset>
        <legend>General</legend>
        <div class="pure-control-group">
          <label for="start-adapting">Automatic Adaptation Default</label>
          <select [(ngModel)]="settings.start_adapting" id="start-adapting" name="start-adapting" required>
            <option value="true">On</option>
            <option value="false">Off</option>
          </select>
        </div>

        <div class="pure-control-group">
          <label for="update-interval">Rule Verification Interval (milliseconds)</label>
          <input [(ngModel)]="settings.update_interval" id="update-interval" type="number" step="1" placeholder="1000"
            name="update-interval" required>
        </div>

      </fieldset>


      <button (click)="submitSettings()" class="pure-button pure-button-primary button-success submit" [disabled]="!ruleform.form.valid"><i class="far fa-check-circle"></i>
        Submit Settings</button>
    </form>
  </div>
</div>
