<!-- <div id="main" [ngClass]="{active: menuOpened}" (click)="setMenu()"> -->
<div id="main">
  <div class="header"><h1>Database Link</h1></div>

  <div class="content">
    <h2 class="content-subhead">Database POI list Endpoint</h2>
    <form class="pure-form pure-form-aligned" #linkform="ngForm">
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-23-24">
            <label for="database-link">Database URL</label>
            <input class="pure-u-1" id="database-link" name="database-link" type="url" [(ngModel)]="databaseUrl" required #dblink="ngModel" pattern="https?://.+">
          </div>
        </div>
      </fieldset>

      <button
        (click)="submitURL()"
        type="submit"
        class="pure-button pure-button-primary button-success"
        
        [disabled]="dblink.invalid"
      >
        <i class="far fa-check-circle"></i> Submit
      </button>
    </form>
  </div>
</div>
