<!-- <div id="main" [ngClass]="{active: menuOpened}" (click)="setMenu()"> -->
<div id="main" (click)="setMenu()">
  <div class="header">
    <h1>Configuration Platform</h1>
  </div>

  <div class="content">

    <h2 class="content-subhead">New Rule Creation</h2>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <legend>Trigger</legend>

        <div class="pure-g">
          <div class="pure-u-1-3">
            <label for="trigger-entity">Entity</label>
            <input [(ngModel)]="tEntity" id="trigger-entity" name="trigger-entity" class="pure-u-23-24" type="text" placeholder="map">
          </div>

          <div class="pure-u-1-3">
            <label for="trigger-operator">Operator</label>
            <select id="trigger-operator" name="trigger-operator" class="pure-u-23-24">
              <option>= (Equals)</option>
              <option>&lt; (Less Than)</option>
              <option>&le; (Less Than or Equal To)</option>
              <option>&gt; (Greather Than)</option>
              <option>&ge; (Greather Than or Equal To)</option>
            </select>
          </div>

          <div class="pure-u-1-3">
            <label for="trigger-value">Value</label>
            <input [(ngModel)]="tValue" id="trigger-value" name="trigger-value" class="pure-u-23-24" type="number">
          </div>
        </div>
      </fieldset>

      <fieldset>
            <legend>Action</legend>
    
            <div class="pure-g">
              <div class="pure-u-1-3">
                <label for="action-entity">Entity</label>
                <input [(ngModel)]="aEntity" id="action-entity" name="action-entity" class="pure-u-23-24" type="text" placeholder="map">
              </div>
    
              <div class="pure-u-1-3">
                <label for="action-attribute">Attribute</label>
                <input [(ngModel)]="aAttribute" id="action-attribute" name="action-attribute" class="pure-u-23-24" type="text" placeholder="zoom">
              </div>
    
              <div class="pure-u-1-3">
                <label for="action-value">Value</label>
                <input [(ngModel)]="aValue" id="action-value" name="action-value" class="pure-u-23-24" type="number">
              </div>
            </div>
    
          </fieldset>
          <button (click)="submitRule()" type="submit" class="pure-button pure-button-primary button-success" [ngClass]="{'pure-button-disabled': !tEntity || !aEntity || !aAttribute}"><i class="far fa-check-circle"></i> Submit</button>
    </form>

    <!-- {
        "rules": [
            {
                "condition": {
                    "operator": "bg",
                    "entity": "light",
                    "constant": {
                        "value": 200,
                        "units": "lux"
                    }
                },
                "action": {
                    "entity": "map",
                    "attribute": "zoom",
                    "value": 15
                }
            }
        ]
    } -->