<div id="main">
  <div class="header">
    <h1>Configuration Platform</h1>
  </div>

  <div class="content">

    <h2 class="content-subhead">New Entity</h2>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-4-5">
            <div class="pure-u-23-24">
              <label for="entity-name">Entity Name (e.g. Device, User, Weather, etc)</label>
              <input class="pure-u-1" id="entity-name" name="entity-name" [(ngModel)]="entity.name" [ngClass]="{'incomplete': !entity.name}" />
            </div>
          </div>
        </div>
        <div class="pure-u-4-5">
          <div class="pure-u-23-24">
            <label for="entity-description-{{i}}">Entity Description</label>
            <textarea class="pure-u-1" id="entity-description-{{i}}" name="entity-description-{{i}}" [(ngModel)]="entity.description"></textarea>
          </div>
        </div>
      </fieldset>

      <div *ngFor="let attribute of entity.attributes; let i = index;">
        <fieldset>
          <legend>Attribute #{{i + 1}} ({{attribute._id}})</legend>
          <div class="pure-g">
            <div class="pure-u-4-5">
              <div class="pure-u-23-24">
                <label for="attribute-name-{{i}}">Attribute Name (e.g. Battery, Speed, Temperature, etc)</label>
                <input class="pure-u-1" id="attribute-name-{{i}}" name="attribute-name-{{i}}" [(ngModel)]="attribute.name"
                  [ngClass]="{'incomplete': !attribute.name}" />
              </div>
            </div>
            <div class="pure-u-1-5">
              <button (click)="removeAttribute(i)" *ngIf="entity.attributes.length > 1" class="pure-button button-error right"><i
                  class="fas fa-trash-alt"></i></button>
            </div>
            <div class="pure-u-4-5">
              <div class="pure-u-23-24">
                <label for="attribute-description-{{i}}">Attribute Description</label>
                <textarea class="pure-u-1" id="attribute-description-{{i}}" name="attribute-description-{{i}}" [(ngModel)]="attribute.description"></textarea>
              </div>
            </div>
            <div class="pure-u-4-5">
              <div class="pure-u-23-24">
                <label for="attribute-actionable-{{i}}">Actionable? (i.e. Can the device change the attribute value?)</label>
                <select id="attribute-actionable-{{i}}" name="attribute-actionable-{{i}}" class="pure-u-1" [(ngModel)]="attribute.asAction">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>

            <fieldset *ngFor="let field of attribute.fields; let j = index" class="pure-u-4-5">
              <legend>Attribute's Value #{{j + 1}} ({{field.id}})</legend>
              <div class="pure-u-23-24">

                <div class="pure-u-4-5">
                  <label for="field-name-{{i}}-{{j}}">Value Name (e.g. Latitude, Longitude, Visibility, etc)</label>
                  <input class="pure-u-1" id="field-name-{{i}}-{{j}}" name="field-name-{{i}}-{{j}}" [(ngModel)]="field.name" placeholder="Longitude" />
                </div>

                <div class="pure-u-1-5">
                  <button (click)="removeField(attribute, j)" *ngIf="attribute.fields.length > 1" class="pure-button button-error right"><i
                      class="fas fa-trash-alt"></i></button>
                </div>

                <div class="pure-u-4-5">
                  <label for="field-type-{{i}}-{{j}}">Value Type</label>
                  <select id="field-type-{{i}}-{{j}}" name="field-type-{{i}}-{{j}}" class="pure-u-1" [(ngModel)]="field.type">
                    <option *ngFor="let opt of valueTypes" [value]="opt.value">{{opt.name}}</option>
                  </select>
                </div>

                <div *ngIf="field.type === 'custom'" class="pure-u-4-5">
                  <label for="field-availables-{{i}}-{{j}}">Possible Values</label>
                  <tag-input [(ngModel)]="field.available" [modelAsStrings]="true" name="field-availables-{{i}}-{{j}}" placeholder="New Value" [secondaryPlaceholder]="'Add possible values'"></tag-input>
                </div>

                <div *ngIf="!field.type?.startsWith('$')" class="pure-u-4-5">
                  <label for="field-unit-{{i}}-{{j}}">Value Unit (May be left empty)</label>
                  <input class="pure-u-1" id="field-unit-{{i}}-{{j}}" name="field-unit-{{i}}-{{j}}" [(ngModel)]="field.unit" placeholder="km/h" />
                </div>
                
              </div>
            </fieldset>
          </div>
        </fieldset>
        <div class="buttons pure-u-4-5" style="margin-bottom: 15px;">
          <button (click)="addField(attribute)" class="pure-button button-secondary"><i class="fas fa-plus-circle"></i>
            Add
            Attribute Value</button>
        </div>
      </div>
      <div class="pure-g">
        <div class="buttons pure-u-1 pure-u-lg-1-2">
          <button (click)="addAttribute()" class="pure-button button-secondary"><i class="fas fa-plus-circle"></i> Add
            Attribute</button>
          <button (click)="submitEntity()" class="pure-button pure-button-primary button-success" [ngClass]="{'pure-button-disabled': !checkIsFormValid()}"><i
              class="far fa-check-circle"></i>
            Submit Entity</button>
        </div>
      </div>
    </form>
  </div>
</div>
